<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="web/vue3.js"></script>
    <link rel="stylesheet" href="web/style.css">
    <title>Nuitka Generator</title>
</head>

<body>
    <div id="app">
        <div id="wrapper">
            <div id="title" class="box">nuitka generator</div>
            <!-- switch -->
            <div id="options" class="box">
                <div class="title">开关配置</div>
                <div class="repeat-item switch" v-for="s in switches" @click="handleAnyOption(s)">
                    <input type="checkbox" v-model="s.enabled">
                    <span class="desc-text" :class="{active: s.enabled}">{{s.desc}}</span>
                    <div class="hover" v-if="s.detail!=undefined">{{s.detail}}</div>
                </div>
            </div>

            <div id="options" class="box">
                <div class="title">参数配置</div>
                <div class="repeat-item value" v-for="v in values">
                    <input type="checkbox" v-model="v.enabled">
                    <span class="desc-text" :class="{active: v.enabled}" @click="handleAnyOption(v)">{{v.desc}}</span>
                    <input type="text" v-model="v.args" @input="genCmd">
                    <div class="hover" v-if="v.detail!=undefined">{{v.detail}}</div>
                </div>
            </div>

            <div id="output" class="box">
                <div class="title">最终命令
                    <button @click="copyCmd">复制</button>
                </div>
                <input type="text" v-model="cmd" id="final-cmd" ref="cmd">
            </div>
        </div>
    </div>
    <script src="web/main.js"></script>
</body>

</html>